/* ImageUpload.css */

/* Container */
.image-upload-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 70px;
    background-color: #1e1e3c; /* Dark blue background */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
  }
  
  /* Title */
  .upload-title {
    margin-bottom: 30px;
    color: #b70d0d; /* Red color */
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Upload button */
  .upload-label {
    display: inline-block;
    padding: 15px 30px;
    background-color: #b70d0d; /* Red button color */
    color: #ffffff; /* White text color */
    border: 2px solid #b70d0d; /* Red border */
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px; /* Move button down */
  }
  
  .upload-label:hover {
    background-color: transparent; /* Transparent background on hover */
    color: #b70d0d; /* Red text color on hover */
  }
  
  .upload-icon {
    margin-right: 10px;
  }
  