/* Report.css */

.report-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(128, 0, 128, 0.9); /* Semi-transparent white container background */
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    position: relative; /* Position relative for z-index */
    z-index: 1; 
    width:40%;
    height:400px;/* Ensure container is above background */
  }
  
  .report-textarea {
    width:700px;
    height:400px; /* Adjust height as needed */
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ffffff; /* Add a border for visual clarity */
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing */
  }
  
  .report-heading {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    color: #ffffff; /* Dark gray heading text color */
  }
  